<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário com Flask-WTF</title>
</head>
<body>
    <h1>Cadastro Didático</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="" method="POST" novalidate>
        <!-- /*o novalidate é usado para evitar a validação automática do HTML5 -->

        {{ form.hidden_tag() }}
        <!-- O form.hidden_tag() faz com que o CSRF seja verificado. CSRF é uma proteção contra ataques de falsificação de requisições entre sites -->

        {{ form.nome.label }} 
        <!-- O form.nome.label exibe o texto do label do campo nome -->

        {{ form.nome(class="form-control", placeholder="Digite seu nome") }}
        <!-- o form.nome(class="form-control", placeholder="Digite seu nome") renderiza o campo de entrada do formulário com a classe CSS "form-control" e um texto de espaço reservado -->

        {{form.email.label }}
        {{ form.email(class="form-control", placeholder="Digite seu email") }}

        {% if form.nome.erros %}
            {% for error in form.nome.erros %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        {% endif %}

        <!-- Botão enviar submit (html) -->
         {{ form.submit(class="submit-btn") }}
        <!-- O form.submit(class="submit-btn") renderiza o botão de envio do formulário com a classe CSS "submit-btn" -->
    </form>
</body>
</html>