<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Receita Criada</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ url_for('index') }}">Página Inicial</a>
                <a href="{{ url_for('nova_receita') }}">Nova Receita</a>
            </nav>
        </header>
        <main>
            <h2>Receita: {{ nome_receita }}</h2>
            <div class="card">
                <h3>Ingredientes</h3>
                <p>{{ ingredientes | replace('\n', '<br>') | safe }}</p>
            </div>
            <div class="card">
                <h3>Modo de Preparo</h3>
                <p>{{ modo_preparo | replace('\n', '<br>') | safe }}</p>
            </div>
            <a href="{{ url_for('nova_receita') }}" class="btn-voltar">Criar Nova Receita</a>
        </main>
        <footer>
            <p>&copy; 2025 Receitinhas. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>