<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        textarea{
            resize:vertical;
            min-height:80px;            
        }
    </style>
</head>
<body>
<div class="container">
    <form action="#" method="post">
        <label for="tarefa">Tarefa:</label>
        <input type="text" id="tarefa" name="tarefa" required>
        <br>
        <label for="data_limite">Data limite:</label>
        <input type="date" id="data_limite" name="data_limite" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
</div>
<div class="container">
    <h2>Lista de Tarefas</h2>
    <table>
        <thead>
            <tr>
                <th>Tarefa</th>
                <th>Data limite</th>
            </tr>
        </thead>
        <tbody>
            {% for tarefa in tarefas %}
            <tr>
                <td>{{ tarefa.nome }}</td>
                <td>{{ tarefa.data_limite }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>