<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container" style="text-align: center;">
        <h1>Tarefa adicionada com sucesso!</h1>
        <p>A tarefa "{{ tarefa_nome }}* foi adicionada com sucesso à sua lista.</p>
        
        <a href="{{ url_for('exibir_index') }}">
            <button type="button">Voltar para a página inicial</button>
        </a>
    </div>
</body>
</html>